body{
  width:100vw;
  height: 100vh;
  font-family: "Caribbean Regular";
  overflow: hidden;
}

.fit { /* set relative picture size */
      max-width: 100%;
      max-height: 100%;
  }
  .center {
      display: block;
      margin: auto;
  }

#rotate-prompt{
  display: none;
  flex-direction: column;
  visibility: hidden;
  width:100vw;
  margin-top:8vh;
  align-self: center;
  color:white;
  text-align: center;
}


#rotate-prompt img{
  align-self: center;
}

#background-image{
  top:0vh;
  position: absolute;
  z-index: 2;
  background-size: cover;
  width:100%;
  height:100%;
}

#map{
  width:85%;
  top:15vh;
  left:5vw;
  position:absolute;
  z-index: 100;
}

#map-close{
  z-index:200;
  position: absolute;
  opacity: 0;
  width: 9%;
  height: 8%;
  top:25%;
  left:65%;
  cursor: pointer;
}

.btn{
  position: absolute;
  z-index: 150;
  opacity: 0;
  width: 19%;
  height: 10%;
  cursor: pointer;
}

#map-button{
  position: absolute;
  z-index: 125;
  width: 15%;
  height: 14%;
  cursor: pointer;
  top:6%;
  left:80%;
  opacity:0 ;
}

#character{
  width:15%;
  top:90%;
  left:-5%;
  position: absolute;
  z-index:70;
}

#my-crew{
  top:49%;
  left: 76%;
}

#sign-out{
  top:72%;
  left: 76%;
}

#next{
  position: absolute;
  z-index: 20;
  opacity: 0.8;
  width: 15%;
  height: 7%;
  bottom: 4%;
  left:35%;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: #e8d295;
  border: 3px solid #a65733;
  font-family: "Caribbean Regular";
  font-size: 15px;
  font-weight: bold;
  color:#361709;
}

#dialogue-cont{
  position: absolute;
  z-index:20;
  left:10%;
  bottom: 45%;
  width:65vw;
  height:40vh;
}

#dialogue{
  width:100%;
  top: 0%;
}

#dialogue-text{
  top:25%;
  left:13%;
  font-family: "Caribbean Regular";
  animation-delay: 8s
  animation: textslide 1s;
  animation-fill-mode: forwards;
  z-index:70;
  position: absolute;
  width:80%;
  color: white;
}

.map-animation{
  animation: mapmove 1s;
  animation-fill-mode: forwards;
}
.map-animation-2{
  animation: mapmove-2 1s ease-out;
  animation-fill-mode: forwards ;
}
.box-animation{
  animation: box-appear 1s ease-out;
}
@keyframes textslide{
 0%   {
 transform: translateX(0%);
 }
 100% {
 transform: translateX(31%);
 }
}

@keyframes mapmove{
  0% {
  transform: translate(0%,0%) scale(1);
  }
  100%{
  transform:translate(48%,-53%) scale(0.21);;
  }
}

@keyframes mapmove-2{
  0% {
  transform: translate(40%,-42%) scale(0.21);
  }
  100%{
  transform:translate(0%,0%) scale(1);;
  }
}
@keyframes box-appear{
  0%{
    transform: translate(-40%,20%) scale(0);
  }
  100%{
    transform: translate(0%,0.5%) scale(1);
  }
}
@keyframes character-appear{
  0%{
    transform: translateX(0%);
    }
  100%{
    transform: translate(20%);
  }
  }

@media screen and (max-width:641px){
  body{
    font-size: 8px;
  }
}
@media (orientation:portrait) {
    .container {
        display: none;
    }
    #rotate-prompt{
      display: flex;
      visibility: visible;
    }
    body{
      background-attachment: fixed;
      z-index: 50;
      background-image: url("https://raw.githubusercontent.com/Paritosh29/Sports_Crypt/master/assets/images/black.jpg");
    }
}
