body{
  width:100vw;
  height: 100vh;
  font-family: "Caribbean Regular";
  overflow: hidden;
}

#rotate-prompt{
  display: none;
  flex-direction: column;
  visibility: hidden;
  width:100vw;
  margin-top:8vh;
  align-self: center;
  color:white;
  text-align: center;
}


#rotate-prompt img{
  align-self: center;
}
.container-self{
  z-index: 1;
  width:100%;
  height:100%;
  position: absolute;
}

#bg-img{
  filter: blur(3px);
  z-index: 2;
  position: absolute;
  height: 115vh;
  width: 100%;
}

#dialogue-cont{
  position: absolute;
  width:80%;
  height:80%;
  top:10%
}

#dialogue{
  top:10%;
  width: 80%;
  margin-left: 7%;
  z-index: 4;
  position: absolute;
  display:flex;
  flex-direction:row;
}

#character{
  left: 2%;
  width:10%;
  bottom: 13%;
  position: absolute;
  z-index:3;
}

#question{
  font-family: "Caribbean Regular";
  z-index: 4;
  position: absolute;
  width:60%;
  color: #f2e8ce;
  left:19%;
  top: 38%;
}

#heading{
  font-size: 30px;
  font-family: "Caribbean Regular";
  z-index: 4;
  color: #f2e8ce;
  position: absolute;
  left: 34%;
  top: 18%;
}

#answer-form{
  width: 60%;
  display: flex;
  flex-direction: row;
}

* {box-sizing: border-box;}

.form-inline {
  left: 29%;
  top: 68%;
  position: absolute;
  z-index: 4;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  vertical-align: middle;
  margin-right: 10px;
  padding:5px;
  background-color: #e6e695;
  border: 1px solid #ddd;
  font-family: "Caribbean Regular";
  font-size: 15px;
  font-weight: bold;
}

.form-inline button {
  background-image: url("https://previews.123rf.com/images/vinsalow/vinsalow1705/vinsalow170500035/78590868-grunge-texture-background-hd-photo-light-yellow-wood-concept.jpg");
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  font-size:20px;
  font-family: "Caribbean Regular";
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

.container{
  z-index:20;
}
.modal-header{
  background-color: #435d7d;
  color:white;
}

@media (orientation:portrait) {
    .container-self {
        display: none;
    }
    #rotate-prompt{
      display: block;
      visibility: visible;
    }
    body{
      z-index: 50;
      background-image: url("https://raw.githubusercontent.com/Paritosh29/Sports_Crypt/master/assets/images/black.jpg");
    }
}
