body{
  width:100vw;
  height: 100vh;
  font-family: "Caribbean Regular";
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/First Background edit.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#rotate-prompt{
  display: none;
  flex-direction: column;
  visibility: hidden;
  width:100vw;
  margin-top:8vh;
  align-self: center;
  color:white;
  text-align: center;
}


#rotate-prompt img{
  align-self: center;
}

#background-image{
  top:0;
  position: absolute;
  z-index: 2;
  width:100%;
  height:100%;
}

#map{
  width:70vw;
  top:15vh;
  left:11vw;
  position:absolute;
  z-index: 100;
}

#map-close{
  z-index:200;
  position: absolute;
  opacity: 0;
  width: 9vw;
  height: 8%;
  top:24.5vh;
  left:59.5vw;
  cursor: pointer;
}

.btn{
  position: absolute;
  z-index: 150;
  opacity: 0;
  width: 19%;
  height: 10%;
  cursor: pointer;
  background-color: #ad8d3c;
  color: #4a2a0a;
  border: 2px solid #80553d;
}

.btn p {
  color: #4a2a0a;
}

#map-button{
  position: absolute;
  z-index: 125;
  width: 13%;
  height: 12%;
  cursor: pointer;
  top:6%;
  left:80%;
  opacity:0;
}

#character{
  height:30%;
  bottom:24%;
  left:-4%;
  position: absolute;
  z-index:70;
}

#my-crew{
  top:49%;
  left: 76%;
}

#sign-out{
  top:72%;
  left: 76%;
}

#next{
  position: absolute;
  z-index: 20;
  opacity: 0.8;
  width: 11vw;
  bottom: 2%;
  left:42%;
  cursor: pointer;
  background-color: #e8d295;
  border: 2px solid #a65733;
  font-family: "Caribbean Regular";
  font-size: 3vw;
  font-weight: bold;
  color:#361709;
}

#dialogue-cont{
  position: absolute;
  z-index:20;
  left:10%;
  top:15vh;
  width:65vw;
  height:80vh;
}

#dialogue{
  position: absolute;
  width: 100%;
  top: 0;
}

#dialogue-text{
  top:10%;
  left:13%;
  font-family: "Caribbean Regular";
  animation-delay: 8s
  animation: textslide 1s;
  animation-fill-mode: forwards;
  z-index:70;
  position: absolute;
  width:80%;
  color: white;
  font-size:2.5vw;
}

.map-animation{
  animation: mapmove 1s;
  animation-fill-mode: forwards;
}
.map-animation-2{
  animation: mapmove-2 1s ease-out;
  animation-fill-mode: forwards ;
}
.box-animation{
  animation: box-appear 1s ease-out;
}
@keyframes textslide{
 0%   {
 transform: translateX(0%);
 }
 100% {
 transform: translateX(31%);
 }
}

@keyframes mapmove{
  0% {
  transform: translate(0%,0%) scale(1);
  }
  100%{
  transform:translate(58%,-55%) scale(0.21);;
  }
}

@keyframes mapmove-2{
  0% {
  transform: translate(40%,-42%) scale(0.21);
  }
  100%{
  transform:translate(0%,0%) scale(1);;
  }
}
@keyframes box-appear{
  0%{
    transform: translate(-40%,20%) scale(0);
  }
  100%{
    transform: translate(0%,0.5%) scale(1);
  }
}
@keyframes character-appear{
  0%{
    transform: translateX(0%);
    }
  100%{
    transform: translate(20%);
  }
  }

@media (aspect-ratio: 4/3) {
  #character {
    bottom: 32%;
    left:-8%;
  }

#map{
  top: 30vh;
  left: 13vw;
}
#map-close{
  top:36vh;
  left: 61vw;
  height:6%;
}
#map-button{
  top:24%;
  height:8%;
  left: 82%;
}
#dialogue-cont{
  top:25vh;
  left:13%;
  height:70vh;
}
#next{
  bottom:20%;
}
}

@media (aspect-ratio: 3/2) {
  #character {
    bottom: 18%;
    left:-7%;
    width: 17%;
    height: auto;
  }

#map{
  top: 30vh;
  left: 13vw;
}
#map-close{
  top:37vh;
  left: 61vw;
  height:6%;
}
#map-button{
  top:23%;
  height:9%;
  left: 82%;
}
#dialogue-cont{
  top:25vh;
  left:13%;
  height:70vh;
}
#next{
  bottom:10%;
}
}

@media (aspect-ratio: 16/10) {
  #character {
    bottom: 25%;
    left:-4%;
  }

#map{
  top: 30vh;
  left: 13vw;
}
#map-close{
  top:38vh;
  left: 61vw;
  height:6%;
}
#map-button{
  top:22%;
  height:10%;
  left: 82%;
}
#dialogue-cont{
  top:22vh;
  left:11%;
  height:70vh;
}
#next{
  bottom:8%;
}
}

@media (aspect-ratio: 17/10) {
  #character {
    bottom: 20%;
    left:-4%;

}
#map{
  top: 30vh;
  left: 13vw;
}
#map-close{
  top:38vh;
  left: 61vw;
  height:6%;
}
#map-button{
  top:22%;
  height:10%;
  left: 82%;
}
#dialogue-cont{
  top:20vh;
  left:11%;
  height:70vh;
}
#next{
  bottom:5%;
}
}

@media (aspect-ratio: 16/9) {
  #character {
    bottom:18%;
    left:-4%;
  }

#map{
  top: 25vh;
  left: 13vw;
}
#map-close{
  top:33vh;
  left: 61vw;
  height:6%;
}
#map-button{
  top:17%;
  height:10%;
  left: 82%;
}
#dialogue-cont{
  top:18vh;
  left:11%;
  height:70vh;
}
#next{
  bottom:2%;
}
}

@media (aspect-ratio: 2/1) {
  #character {
    bottom:2%;
    left:-5%;
    width:14%;
    height:auto;
  }

#map{
  top: 15vh;
  left: 13vw;
}
#map-close{
  top:26vh;
  left: 61vw;
  height:6%;
}
#map-button{
  top:4%;
  height:14%;
  left: 82%;
}
#dialogue-cont{
  top:10vh;
  left:11%;
  height:70vh;
}
#next{
  bottom:-25%;
}
}

@media (aspect-ratio: 2436/1125) {
  #character {
    bottom:0%;
    left:-3%;
    width:10%;
    height:auto;
  }

#map{
  top: 15vh;
  left: 13vw;
}
#map-close{
  top:26vh;
  left: 61vw;
  height:6%;
}
#map-button{
  top:4%;
  height:14%;
  left: 82%;
}
#dialogue-cont{
  top:10vh;
  left:11%;
  height:70vh;
}
#next{
  bottom:-25%;
}
}

@media (orientation:portrait) {
    .container {
        display: none;
    }
    #rotate-prompt{
      display: flex;
      visibility: visible;
    }
    body{
      background-attachment: fixed;
      z-index: 50;
      background-image: url("https://raw.githubusercontent.com/Paritosh29/Sports_Crypt/master/assets/images/black.jpg");
    }
}
