{%load staticfiles%}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "piratefont";
    src: url("{% static "/assets/fonts/CaslonishFraxx.ttf"%}");
  }

* {
    font-family: "piratefont";
    color: rgb(71, 47, 10);
}


body, html {
    height: 100%;
}

body {
    background: url("{% static "/assets/images/Background.svg" %}") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.main .piratecrew {
    display: flex;
    justify-content: center;
}

.main .piratecrew img {
width: 200px;
height: 80px;
position: fixed;
margin-top: 6%;
}


.main .team {
width: 80%;
margin: 20% auto 0;
}

.main .team .team-members p {

}


.refresh {
 text-align: center;
 position : fixed;
 bottom: 10px;
 right: 15px;
}

.refresh .refreshbtn {
    padding: 10px;
    border: none;
    background: rgb(77, 25, 6);
    color: white;
    border-radius: 10%;
}




@media (orientation:portrait)
{
    .main {
        display: none;
    }

    body {
        background: rgba(0,0,0,0.9);
    }
}


@media (max-width: 500px) {

    .main {
        width: 80%;
        margin: 0 auto;
    }

    .main .piratecrew {
        display: flex;
        justify-content: center;
    }

    .main .piratecrew img {
    width: 200px;
    height: 80px;
    position: fixed;
    margin-top: 6%;
    }


    .main .team {
    width: 80%;
    margin: 20% auto 0;
    }

    .main .team .team-members p {

    }


    .refresh {
     text-align: center;
     position : fixed;
     bottom: 10px;
     right: 15px;
    }

    .refresh .refreshbtn {
        padding: 10px;
        border: none;
        background: rgb(77, 25, 6);
        color: white;
        border-radius: 10%;
    }
}
