<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static "css/StartGame.css"%}" >
    <script src="{% static "js/create_team.js" %}"></script>
</head>
<body>


    <div id="rotate-prompt">
        <img src="{% static "assets/images/rotate-screen.gif" %}">
        Please play the game in landscape mode!
    </div>
    <div class="background">
        <div class="flex" style="margin-bottom: 0;">
            <p class="inline">Your Code</p>
            <div class="code2" style="margin-left: 7vw">
              <p id="pincode"></p>
            </div>
        </div>
        <a href="#" class="next">
            <p>Your Crew</p>
        </a>
    </div>
</body>
</html>
