<!DOCTYPE html>
<html lang="en">
{% load staticfiles%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static "css/question.css"%}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static "js/ajax-questions.js"%}"></script>
    <script src="{% static "js/question.js"%}"></script>
 </head>

<body>

  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>Oops! Incorrect Answer</h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <p>Dont lose hope! There is still time left!</p>
      </div>
    </div>
  </div>


    <div id="rotate-prompt">
        <img src="{% static "assets/images/rotate-screen.gif" %}">
        Please play the game in landscape mode!
    </div>
    <div class="background">
    <p id="heading"> Question 1</p>

    <p id="q-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

    <div class="input2">
        <input class="input2">
    </div>

    <a id="submit-btn" onclick="sendres()"><p>Submit</p></a>
    </div>
</body>
</html>
