<!DOCTYPE html>
<html lang="en">
{%load staticfiles%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/StartGame.css" %}" type="text/css">
    <script src="{%static "js/create_team.js"%}"></script>
</head>
<body>
    <div id="rotate-prompt">
        <img src="{% static "assets/images/rotate-screen.gif" %}">
        Please play the game in landscape mode!
    </div>
    <div class="background">
    <p class="crew"> Enter Your Crew Name</p>
    <div class="input2">
        <input class="input3">
    </div>
            <a class="generate" href="Code.html" onclick="team()"> <p>Generate Code</p></a>
    </div>
</body>
</html>
